extends layout 

block content
  include partial/navbar
  include partial/header

  #toastNoAutohideRemoveSuccess.toast(role='alert' aria-live='assertive' aria-atomic='true' data-bs-delay="2000" style='opacity: 1; display: none')
    .toast-header.text-success
      i(data-feather='check-circle').me-2
      strong.me-auto #{t('cart.item-remove-success')}
      button.ms-2.mb-1.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
    .toast-body
      | #{t('cart.item-remove-success-msg')}
  #toastNoAutohideRemoveItemFailure.toast(role='alert' aria-live='assertive' aria-atomic='true' data-bs-delay="2000" style='opacity: 1; display: none')
    .toast-header.text-danger
      i(data-feather='x-circle').me-2
      strong.me-auto #{t('cart.item-remove-failure')}
      button.ms-2.mb-1.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
    .toast-body
      | #{t('cart.item-remove-failure-msg')}


  if cartItems.length
    - let totalAmount = 0

    .container
      table.table.table-bordered.text-center
        thead
          tr
            th #{t('cart.course')}
            th #{t('cart.price')}
            th #{t('cart.action')}
        tbody
          each item in cartItems
            tr
              td #{item.course.name}
              td $#{item.course.price.toFixed(2)}
              td
                button.remove-item-btn(data-id=`${item.id}` data-action='delete') #{t('cart.remove')}

            - totalAmount += item.course.price 

        tfoot
          tr
            td #{t('cart.total_amount')}
            td $#{totalAmount.toFixed(2)}
            td 

      .text-right
        form(action="/payments/checkout" method="post")
          each item in cartItems
            input(type="hidden" name="courseIds[]", value=item.course.id)
          button.btn.text-light(type="submit") #{t('cart.checkout')}
  else
    p #{t('cart.empty')}

  include partial/footer
  script.
    function showToastRemoveSuccess(message) {
      const $toastElement = $("#toastNoAutohideRemoveSuccess");
      if ($toastElement.length) {
        $toastElement.find(".toast-body").text(message);
        $toastElement.css("display", "block");
        const toast = new bootstrap.Toast($toastElement[0]);
        toast.show();
        setTimeout(() => {
          $toastElement.fadeTo(1000, 0, function () {
            $toastElement.css("display", "none").css("opacity", 1);
          });
        }, 1000);
      }
    }

    function showToastRemoveFailure(message) {
      const $toastElement = $("#toastNoAutohideRemoveFailure");
      if ($toastElement.length) {
        $toastElement.find(".toast-body").text(message);
        $toastElement.css("display", "block");
        const toast = new bootstrap.Toast($toastElement[0]);
        toast.show();
        setTimeout(() => {
          $toastElement.fadeTo(1000, 0, function () {
            $toastElement.css("display", "none").css("opacity", 1);
          });
        }, 1000);
      }
    }

    $(document).ready(function () {
      $(".remove-item-btn").on("click", function (event) {
        const itemId = $(this).data("id");
        if (confirm("Are you sure you want to remove this course?")) {
          $.ajax({
            url: `/cart/${itemId}`,
            type: "DELETE",
            success: function (response) {
              $(`.card[data-id='${itemId}']`).remove();
              showToastRemoveSuccess();
              setTimeout(() => {
                location.reload();
              }, 1000);
            },
            error: function (error) {
              showToastRemoveFailure();
            },
          });
        }
      });
    });
