extends layout 

block content
  include partial/navbar
  include partial/header

  if cartItems.length
    - let totalAmount = 0

    .container
      table.table.table-bordered.text-center
        thead
          tr
            th #{t('cart.course')}
            th #{t('cart.price')}
            th #{t('cart.action')}
        tbody
          each item in cartItems
            tr
              td #{item.course.name}
              td $#{item.course.price.toFixed(2)}
              td
                form(action=`/cart/remove`, method="post" style="display: inline;")
                  input(type="hidden" name="itemId", value=item.id)
                  .delete-btn: button(type="submit") #{t('cart.remove')}

            - totalAmount += item.course.price 

        tfoot
          tr
            td #{t('cart.total_amount')}
            td $#{totalAmount.toFixed(2)}
            td 

      .text-right
        form(action="/payments/checkout" method="post")
          each item in cartItems
            input(type="hidden" name="courseIds[]", value=item.course.id)
          button.btn.text-light(type="submit") #{t('cart.checkout')}
  else
    p #{t('cart.empty')}

  include partial/footer
