extends layout

block content
  h1 User Details

  form(action="/account" method="POST")
    label(for="name") Name:
    input(type="text" name="name" value=user.name required)

    label(for="phone_number") Phone Number:
    input(type="text" name="phone_number" value=user.phone_number required)

    label(for="avatar") Avatar URL:
    input(type="text" name="avatar" value=user.avatar)

    label(for="date_of_birth") Date of Birth:
    input(type="date" name="date_of_birth" value=user.date_of_birth required)

    label(for="gender") Gender:
    select(name="gender")
      option(value="male" selected=user.gender === 'male') Male
      option(value="female" selected=user.gender === 'female') Female
      option(value="other" selected=user.gender === 'other') Other

    label(for="address") Address:
    input(type="text" name="address" value=user.address)

    label(for="identity_card") Identity Card:
    input(type="text" name="identity_card" value=user.identity_card)

    label(for="additional_info") Additional Info:
    textarea(name="additional_info")= user.additional_info

    label(for="email") Email:
    input(type="email" name="email" value=user.email readonly)

    button(type="submit") Save Changes
