extends ../layout

block content
  include ../partial/adminPanel
  .container-xxl.py-2.mt-4
    .container
      .row.g-4.wow.fadeInUp(data-wow-delay='0.5s')
        h2 #{t('admin-review.management')}
        .admin-container
          center
            table.admin-table
              thead
                tr
                  th #{t('admin-review.#')}
                  th #{t('admin-review.id')}
                  th #{t('admin-review.user')}
                  th #{t('admin-review.course')}
                  th #{t('admin-review.rating')}
                  th #{t('admin-review.date')}
              tbody
                each review, index in reviews
                  tr
                    td #{index + 1}
                    td #{review.id}
                    td #{review.user ? review.user.name : #{t('admin-review.no-user')}
                    td #{review.course ? review.course.name : #{t('admin-review.no-course')}
                    td #{review.rating}
                    td #{review.created_at.toLocaleString()}
