extends ../layout

block content
  include ../partial/professorPanel
  .container-xxl.py-2.mt-4
    .container
      .row.g-4.wow.fadeInUp(data-wow-delay='0.5s')
        h2 #{t('admin-course.management')}
        .admin-container
          .create-btn
            button(onclick="showCreateForm()") #{t('admin.create')}
          center
            table.admin-table
              thead
                tr
                  th #{t('admin-course.#')}
                  th #{t('admin-course.ID')}
                  th #{t('admin-course.name')}
                  th #{t('admin-course.description')}
                  th #{t('admin-course.categoryName')}
                  th #{t('admin-course.paymentCount')}
                  th #{t('admin-course.enrollmentCount')}
                  th #{t('admin-course.price')}
                  th #{t('admin-course.rating')}
                  th #{t('admin.section')}
                  th #{t('admin.lesson')}
                  th #{t('admin.edit')}
                  th #{t('admin.delete')}
              tbody
                each course, index in courses
                  tr(id=`courseRow-${course.id}`)
                    td #{index + 1}
                    td #{course.id}
                    td #{course.name}
                    td #{course.description}
                    td #{course.category.name || 'N/A'}
                    td #{course.paymentCount}
                    td #{course.enrollmentCount}
                    td $#{course.price}
                    td #{course.average_rating || 'N/A'}
                    td 
                      .view-sections-btn
                        button(onclick=`showSections(${course.id})`) #{t('admin.view')} 
                    td 
                      .view-lessons-btn
                        button(onclick=`showLessons('${course.id}')`) #{t('admin.view')}
                    td 
                      .edit-btn
                        button(onclick=`showEditForm('${course.id}', '${course.name}', '${course.category.id}', '${course.description}', '${course.price}', '${course.average_rating}')`) #{t('admin.edit')}
                    td 
                      .delete-btn
                        button(onclick=`showDeleteForm(${course.id})`) #{t('admin.delete')}

  each course in courses
   .sections-modal(id=`sections-${course.id}`).hidden
    .modal-content-admin
      .admin-container
        .create-btn
          button(onclick="showSectionCreateForm()") #{t('admin.create')}
      h3 #{course.name} #{t('admin.section')}
      table.admin-table
        thead
          tr
            th #{t('admin-section.#')}
            th #{t('admin-section.ID')}
            th #{t('admin-section.name')}
            th #{t('admin-section.course')}
            th #{t('admin-section.total-time')}
            th #{t('admin-section.total-lesson')}
            th #{t('admin.edit')}
            th #{t('admin.delete')}
        tbody
          each section, index in sections.filter(section => section.course_id === course.id)
            tr(id=`sectionRow-${section.id}`)
              td #{index + 1}
              td #{section.id}
              td #{section.name}
              td #{section.course.name}
              td #{section.total_time}h
              td #{section.total_lesson}
              td 
                .edit-btn
                  button(onclick=`showSectionEditForm('${section.id}', '${section.name}', '${section.total_time}', '${section.total_lesson}', '${section.course.id}')`) #{t('admin.edit')}
              td 
                .delete-btn
                  button(onclick=`showSectionDeleteForm(${section.id})`) #{t('admin.delete')}
      .btn-group-admin
        .close-btn: button(type="button" onclick=`hideSections(${course.id})`) #{t('admin.close')}
  each course in courses
    .lessons-modal(id=`lessons-${course.id}`).hidden
      .modal-content-admin
        .admin-container
          .create-btn
            button(onclick="showLessonCreateForm()") #{t('admin.create')}
          h3 #{course.name} #{t('admin.course')}
          table.admin-table
            thead
              tr
                th #{t('admin-lesson.#')}
                th #{t('admin-lesson.ID')}
                th #{t('admin-lesson.name')}
                th #{t('admin-lesson.section')}
                th #{t('admin-lesson.description')}
                th #{t('admin-lesson.type')}
                th #{t('admin-lesson.content')}
                th #{t('admin-lesson.time')}
                th #{t('admin.edit')}
                th #{t('admin.delete')}
            tbody
              each section in sections.filter(section => section.course_id === course.id)
                if courseLessons[course.id] && courseLessons[course.id][section.id] && courseLessons[course.id][section.id].length > 0
                  each lesson, index in courseLessons[course.id][section.id]
                    tr
                      td #{index + 1}
                      td #{lesson.id}
                      td #{lesson.name}
                      td #{lesson.section_id}
                      td #{lesson.description}
                      td #{lesson.type}
                      td #{lesson.content}
                      td #{lesson.time}
                      td 
                        .edit-btn
                          button(onclick=`showLessonEditForm('${lesson.id}', '${lesson.name}', '${lesson.section_id}', '${lesson.description}', '${lesson.type}', '${lesson.content}', '${lesson.time}')`) #{t('admin.edit')}
                      td 
                        .delete-btn
                          button(onclick=`showLessonDeleteForm(${lesson.id})`) #{t('admin.delete')}
          .btn-group-admin
            .close-btn: button(type="button" onclick=`hideLessons(${course.id})`) #{t('admin.close')}
  #createSectionModal.hidden
      .modal-content-admin
        h3 #{t('admin.create')}
        form(id="createSectionForm", action="/professors/sections/create" method="POST")
          .form-group#sectionsContainer
            .section-form
              label(for="name") #{t('admin-section.name')}
              input(type="text" name="name[]" required)
              label(for="edit-courseId") #{t('admin-section.course')}
              select(name="course_id[]" required)
                each course in courses
                  option(value=course.id) #{course.name}
              label(for="total_time") #{t('admin-section.total-time')}
              input(type="number" name="total_time[]" required)
              label(for="total_lesson") #{t('admin-section.total-lesson')}
              input(type="number" name="total_lesson[]" required)

          .save-btn: button(type="button" onclick="addSectionForm()") #{t('admin.add-more')}
          .btn-group-admin
            .save-btn: button(type="submit") #{t('admin.save')}
            .cancel-btn: button(type="button" onclick="hideSectionCreateForm()") #{t('admin.cancel')}
  #createLessonModal.hidden
    .modal-content-admin
      h3 #{t('admin.create')}
      form(id="showLessonCreateForm", action="/professors/lessons/create" method="POST")
        .form-group#lessonsContainer
          .lesson-form
            label(for="name") #{t('admin-lesson.name')}
            input(type="text" name="name[]" required)

            label(for="edit-sectionId") #{t('admin-lesson.section')}
            select(name="section_id[]" required)
              each section in sections
                option(value=section.id) #{section.name}

            label(for="type") #{t('admin-lesson.type')}
            select(name="type[]" required)
              option(value="", disabled, selected) #{t('admin-lesson.type')}
              each type in lessonTypes
                option(value=type)= type.charAt(0).toUpperCase() + type.slice(1) 

            label(for="content") #{t('admin-lesson.content')}
            input(type="text" name="content[]" required)

            label(for="description") #{t('admin-lesson.description')}
            input(type="text" name="description[]" required)

            label(for="time") #{t('admin-lesson.time')}
            input(type="number" name="time[]" required)

        .btn-group-admin
          .add-btn: button(type="button" onclick="addLessonForm()") #{t('admin.add-more')}
          .save-btn: button(type="submit") #{t('admin.save')}
          .cancel-btn: button(type="button" onclick="hideLessonCreateForm()") #{t('admin.cancel')}
  #editSectionModal.hidden
    .modal-content-admin
      h3 #{t('admin.edit')}
      form(action="/professors/sections/edit" method="POST")
        input(type="hidden" name="id" id="edit-section-id") 

        .form-group
          label(for="edit-section-name") #{t('admin-section.name')}
          input(type="text" name="section-name" id="edit-section-name" required)

        .form-group
          label(for="edit-courseId") #{t('admin-section.course')}
          select(name="course_id", id="edit-courseId" required)
            each course in courses
              option(value=course.id) #{course.name}

        .form-group
          label(for="edit-total-time") #{t('admin-section.total-time')}
          input(type="number" name="total-time" id="edit-total-time" required)

        .form-group
          label(for="edit-total-lessons") #{t('admin-section.total-lesson')}
          input(type="number" name="total-lessons" id="edit-total-lessons" required)

        .btn-group-admin
          .save-btn: button(type="submit") #{t('admin.save')}
          .cancel-btn: button(type="button" onclick="hideSectionEditForm()") #{t('admin.cancel')}

  #editLessonModal.hidden
    .modal-content-admin
      h3 #{t('admin.edit-lesson')}
      form(action="/professors/lessons/edit" method="POST")
        input(type="hidden" name="id" id="edit-lesson-id") 

        .form-group
          label(for="edit-lesson-name") #{t('admin-lesson.name')}
          input(type="text" name="lesson-name" id="edit-lesson-name" required)

        .form-group
          label(for="edit-sectionId") #{t('admin-lesson.section')}
          select(name="section_id[]" required)
            each section in sections
              option(value=section.id) #{section.name}
        .form-group
          label(for="edit-type") #{t('admin-lesson.type')}
          select(name="type" id="edit-type" required)
            option(value="", disabled, selected) #{t('admin-lesson.type')}
            each type in lessonTypes
              option(value=type)= type.charAt(0).toUpperCase() + type.slice(1) 

        .form-group
          label(for="edit-content") #{t('admin-lesson.content')}
          input(type="text" name="content" id="edit-content" required)

        .form-group
          label(for="edit-description") #{t('admin-lesson.description')}
          input(type="text" name="description" id="edit-description" required)

        .form-group
          label(for="edit-time") #{t('admin-lesson.time')}
          input(type="number" name="time" id="edit-time" required)

        .btn-group-admin
          .save-btn: button(type="submit") #{t('admin.save')}
          .cancel-btn: button(type="button" onclick="hideLessonEditForm()") #{t('admin.cancel')}
  #deleteSectionModal.hidden
    .modal-content-admin
      h3 #{t('admin.delete-section')}
      p #{t('admin.confirm-delete-section')}
      .btn-group-admin
        button(type="button" onclick="confirmDeleteSection()") #{t('admin.delete')}
        button(type="button" onclick="hideSectionDeleteForm()") #{t('admin.cancel')}
  #deleteLessonModal.hidden
    .modal-content-admin
      h3 #{t('admin.delete-lesson')}
      p #{t('admin.confirm-delete-lesson')}
      .btn-group-admin
        button(type="button" onclick="confirmDeleteLesson()") #{t('admin.delete')}
        button(type="button" onclick="hideLessonDeleteForm()") #{t('admin.cancel')}
  script.
    const courses = JSON.parse('!{JSON.stringify(courses)}');  
    const sections = JSON.parse('!{JSON.stringify(sections)}');


